<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist
PUBLIC "-//Apple//DTD PLIST 1.0//EN"
       "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>BuildMachineOSBuild</key>
  <string>20D91</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>信泰集团</string>
  <key>CFBundleExecutable</key>
  <string>有讯</string>
  <key>CFBundleIconFiles</key>
  <array>
   <string>yxapp/icon.png</string>
  </array>
  <key>CFBundleIcons</key>
  <dict>
   <key>CFBundlePrimaryIcon</key>
   <dict>
    <key>CFBundleIconFiles</key>
    <array>
     <string>AppIcon60x60</string>
    </array>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
   </dict>
  </dict>
  <key>CFBundleIcons~ipad</key>
  <dict>
   <key>CFBundlePrimaryIcon</key>
   <dict>
    <key>CFBundleIconFiles</key>
    <array>
     <string>AppIcon60x60</string>
     <string>AppIcon76x76</string>
    </array>
    <key>CFBundleIconName</key>
    <string>AppIcon</string>
   </dict>
  </dict>
  <key>CFBundleIdentifier</key>
  <string>com.hongyun.im.c5.youxun</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>信泰集团</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>2.0.0</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
   <string>iPhoneOS</string>
  </array>
  <key>CFBundleURLTypes</key>
  <array>
   <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLName</key>
    <string>weixin</string>
    <key>CFBundleURLSchemes</key>
    <array>
     <string></string>
    </array>
   </dict>
   <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLName</key>
    <string>QQ</string>
    <key>CFBundleURLSchemes</key>
    <array>
     <string>QQ0</string>
    </array>
   </dict>
   <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLName</key>
    <string>tencent</string>
    <key>CFBundleURLSchemes</key>
    <array>
     <string>tencent</string>
    </array>
   </dict>
   <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLName</key>
    <string>newmsgLite</string>
    <key>CFBundleURLSchemes</key>
    <array>
     <string>com.hongyun.im.c5.lanting</string>
    </array>
   </dict>
   <dict>
    <key>CFBundleTypeRole</key>
    <string>Editor</string>
    <key>CFBundleURLName</key>
    <string>zhifubao</string>
    <key>CFBundleURLSchemes</key>
    <array>
     <string>imchat44zhifubao</string>
    </array>
   </dict>
  </array>
  <key>CFBundleVersion</key>
  <string>20220423</string>
  <key>DTAppStoreToolsBuild</key>
  <string>12E262</string>
  <key>DTCompiler</key>
  <string>com.apple.compilers.llvm.clang.1_0</string>
  <key>DTPlatformBuild</key>
  <string>18E182</string>
  <key>DTPlatformName</key>
  <string>iphoneos</string>
  <key>DTPlatformVersion</key>
  <string>14.5</string>
  <key>DTSDKBuild</key>
  <string>18E182</string>
  <key>DTSDKName</key>
  <string>iphoneos14.5</string>
  <key>DTXcode</key>
  <string>1250</string>
  <key>DTXcodeBuild</key>
  <string>12E262</string>
  <key>LSApplicationQueriesSchemes</key>
  <array>
   <string>alipay</string>
   <string>zhifubao</string>
   <string>wechat</string>
   <string>weixin</string>
   <string>weixinULAPI</string>
   <string>mqqopensdklaunchminiapp</string>
   <string>mqqopensdkminiapp</string>
   <string>mqqapi</string>
   <string>mqq</string>
   <string>mqqOpensdkSSoLogin</string>
   <string>mqqconnect</string>
   <string>mqqopensdkdataline</string>
   <string>mqqopensdkgrouptribeshare</string>
   <string>mqqopensdkfriend</string>
   <string>mqqopensdkapi</string>
   <string>mqqopensdkapiV2</string>
   <string>mqqopensdkapiV3</string>
   <string>mqqopensdkapiV4</string>
   <string>mqzoneopensdk</string>
   <string>wtloginmqq</string>
   <string>wtloginmqq2</string>
   <string>mqqwpa</string>
   <string>mqzone</string>
   <string>mqzonev2</string>
   <string>mqzoneshare</string>
   <string>wtloginqzone</string>
   <string>mqzonewx</string>
   <string>mqzoneopensdkapiV2</string>
   <string>mqzoneopensdkapi19</string>
   <string>mqzoneopensdkapi</string>
   <string>mqqbrowser</string>
   <string>mttbrowser</string>
   <string>tim</string>
   <string>timapi</string>
   <string>timopensdkfriend</string>
   <string>timwpa</string>
   <string>timgamebindinggroup</string>
   <string>timapiwallet</string>
   <string>timOpensdkSSoLogin</string>
   <string>wtlogintim</string>
   <string>timopensdkgrouptribeshare</string>
   <string>timopensdkapiV4</string>
   <string>timgamebindinggroup</string>
   <string>timopensdkdataline</string>
   <string>wtlogintimV1</string>
   <string>timapiV1</string>
  </array>
  <key>LSRequiresIPhoneOS</key>
  <true/>
  <key>LSSupportsOpeningDocumentsInPlace</key>
  <true/>
  <key>MinimumOSVersion</key>
  <string>12.0</string>
  <key>NSAppTransportSecurity</key>
  <dict>
   <key>NSAllowsArbitraryLoads</key>
   <true/>
  </dict>
  <key>NSCameraUsageDescription</key>
  <string>请点击&quot;好&quot;以允许访问。如果不允许您将无法正常使用登录、拍照、录制视频等功能。</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>请点击&quot;好&quot;以允许访问，以便在拍摄的图片中能够访问你的位置信息。</string>
  <key>NSLocationAlwaysUsageDescription</key>
  <string>请点击&quot;好&quot;以允许访问，以便在拍摄的图片中能够访问您的位置信息。</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>请点击&quot;好&quot;以允许访问，以便在拍摄的图片中能够访问您的位置信息。</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>请点击&quot;好&quot;以允许访问。如果不允许，您将无法正常使用语音聊天功能。</string>
  <key>NSPhotoLibraryAddUsageDescription</key>
  <string>请点击&quot;好&quot;以允许访问。如果不允许，您将无法把您想要下载的图片保存到手机相册。</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>请点击&quot;好&quot;以允许访问。如果不允许您将无法正常使用登录、拍照、录制视频等功能。</string>
  <key>UIAppFonts</key>
  <array>
   <string>din1451alt.ttf</string>
  </array>
  <key>UIBackgroundModes</key>
  <array>
   <string>remote-notification</string>
  </array>
  <key>UIDeviceFamily</key>
  <array>
   <integer>1</integer>
   <integer>2</integer>
  </array>
  <key>UIFileSharingEnabled</key>
  <true/>
  <key>UILaunchImageFile</key>
  <string>LaunchImage</string>
  <key>UILaunchImages</key>
  <array>
   <dict>
    <key>UILaunchImageMinimumOSVersion</key>
    <string>12.0</string>
    <key>UILaunchImageName</key>
    <string>LaunchImage-1200-Portrait-2688h</string>
    <key>UILaunchImageOrientation</key>
    <string>Portrait</string>
    <key>UILaunchImageSize</key>
    <string>{414, 896}</string>
   </dict>
   <dict>
    <key>UILaunchImageMinimumOSVersion</key>
    <string>12.0</string>
    <key>UILaunchImageName</key>
    <string>LaunchImage-1200-Portrait-1792h</string>
    <key>UILaunchImageOrientation</key>
    <string>Portrait</string>
    <key>UILaunchImageSize</key>
    <string>{414, 896}</string>
   </dict>
   <dict>
    <key>UILaunchImageMinimumOSVersion</key>
    <string>11.0</string>
    <key>UILaunchImageName</key>
    <string>LaunchImage-1100-Portrait-2436h</string>
    <key>UILaunchImageOrientation</key>
    <string>Portrait</string>
    <key>UILaunchImageSize</key>
    <string>{375, 812}</string>
   </dict>
   <dict>
    <key>UILaunchImageMinimumOSVersion</key>
    <string>8.0</string>
    <key>UILaunchImageName</key>
    <string>LaunchImage-800-Portrait-736h</string>
    <key>UILaunchImageOrientation</key>
    <string>Portrait</string>
    <key>UILaunchImageSize</key>
    <string>{414, 736}</string>
   </dict>
   <dict>
    <key>UILaunchImageMinimumOSVersion</key>
    <string>8.0</string>
    <key>UILaunchImageName</key>
    <string>LaunchImage-800-667h</string>
    <key>UILaunchImageOrientation</key>
    <string>Portrait</string>
    <key>UILaunchImageSize</key>
    <string>{375, 667}</string>
   </dict>
   <dict>
    <key>UILaunchImageMinimumOSVersion</key>
    <string>7.0</string>
    <key>UILaunchImageName</key>
    <string>LaunchImage-700</string>
    <key>UILaunchImageOrientation</key>
    <string>Portrait</string>
    <key>UILaunchImageSize</key>
    <string>{320, 480}</string>
   </dict>
   <dict>
    <key>UILaunchImageMinimumOSVersion</key>
    <string>7.0</string>
    <key>UILaunchImageName</key>
    <string>LaunchImage-700-568h</string>
    <key>UILaunchImageOrientation</key>
    <string>Portrait</string>
    <key>UILaunchImageSize</key>
    <string>{320, 568}</string>
   </dict>
  </array>
  <key>UILaunchStoryboardName</key>
  <string>LaunchScreen</string>
  <key>UIMainStoryboardFile</key>
  <string>Main</string>
  <key>UIRequiredDeviceCapabilities</key>
  <array>
   <string>arm64</string>
  </array>
  <key>UIStatusBarStyle</key>
  <string>UIStatusBarStyleDarkContent</string>
  <key>UISupportedInterfaceOrientations</key>
  <array>
   <string>UIInterfaceOrientationPortrait</string>
  </array>
  <key>UISupportedInterfaceOrientations~ipad</key>
  <array>
   <string>UIInterfaceOrientationPortrait</string>
   <string>UIInterfaceOrientationPortraitUpsideDown</string>
   <string>UIInterfaceOrientationLandscapeLeft</string>
   <string>UIInterfaceOrientationLandscapeRight</string>
  </array>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <true/>
  <key>AliyunTag</key>
  <string>635d3c7fb90e4</string>
 </dict>
</plist>
